<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/auth/signup" method="post" >
        <input placeholder="Name" name="name" type="text"><br>
        <input placeholder="Email" name="email" type="email">
        <br>
        <input placeholder="Phone" name="phone" type="text"> <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="/login">Go back to login page</a>

</body>
</html>